UNIFreelancerDataBaseEntry/Service References/CCandidateService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniWcfService" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UniWcfService.Candidate" />
  <xs:element name="GetCandidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniWcfService" minOccurs="0" name="GetCandidateResult" nillable="true" type="q1:CandidateDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniWcfService.Candidate" minOccurs="0" name="candidate" nillable="true" type="q2:CandidateDetailSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCandidatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniWcfService" minOccurs="0" name="GetCandidatesResult" nillable="true" type="q3:CandidateDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>